.first-row {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%);
  align-items: flex-start;
}
.logo {
  margin-left: -40px;
  width: 200px;
  height: 64px;
  object-fit: cover;
  @media (max-width: 700px) {
    margin-left: -40px;
    width: 200px;
    height: 56px;
    object-fit: cover;
  }
}
.spacer {
  flex: 1 1 auto;
}

.spacer-md {
  flex: 0.2 1 auto;
}
.active {
  opacity: 0.7;
}

button {
  margin: 0 12%;
}
