<mat-toolbar color="primary">
  <mat-toolbar-row class="first-row">
    <img src="../assets/angular_whiteTransparent.png" class="logo" />
    <h1>{{ title }}</h1>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-button [routerLink]="['/heroes']">Heroes</button>

    <button mat-button [routerLink]="['/dashboard']">Dashboard</button>

    <span class="spacer"></span>
    <mat-icon
      [matBadge]="getMessagesLength()"
      matBadgeColor="warn"
      #tooltip="matTooltip"
      [matTooltip]="displayMsgNumber()"
      routerLink="/dashboard"
      style="cursor: pointer"
      >messages</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
