<mat-toolbar color="primary">
  <mat-toolbar-row class="first-row">
    <img src="../assets/angular_whiteTransparent.png" class="logo" />
    <h1>{{ title }}</h1>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <hrs-search-hero></hrs-search-hero>

    <div *ngIf="!condition">
      <button mat-button [routerLink]="['/heroes']" routerLinkActive="active">
        Heroes
      </button>

      <button
        mat-button
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
      >
        Dashboard
      </button>
    </div>

    <ng-content></ng-content>

    <span class="spacer"></span>
    <mat-icon
      [matBadge]="getMessagesLength()"
      matBadgeColor="warn"
      #tooltip="matTooltip"
      [matTooltip]="displayMsgNumber()"
      routerLink="/dashboard"
      style="cursor: pointer"
      >messages</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
