<div class="wrapper">
  <div class="search-box" (keydown)="toggleList()">
    <input
      #searchBox
      class="search-box"
      type="text"
      (input)="search(searchBox.value)"
      placeholder="Find a hero"
      autocomplete="off"
    />
    <span
      (click)="toggleList()"
      class="icon"
      style="color: rgb(66, 66, 66); margin-top: 12px"
    >
      <mat-icon>search</mat-icon>
    </span>
    <div class="search-result" *ngIf="!condition">
      <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{ hero.id }}">
          <p>
            {{ hero.name }}
          </p>
        </a>
      </li>
    </div>
  </div>
</div>
