.container {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  margin: 10px;
}

a {
  border: solid 1px var(--greyish);
  border-radius: 2px;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  width: 25%;
  min-width: 100px;
  box-sizing: border-box;
  flex: 1 35%;
  margin: 20px;
  margin-top: 30px;
}
.spacer {
  flex: 1 1 auto;
}
.title {
  display: flex;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
