@import "mixins";

.backdrop {
  @include set-fixed-overlay(fixed, 0, 0, 100vw, 100vh, 50, rgb(0, 0, 0, 0.75));
  margin-top: 0;
}

.messages {
  @include set-fixed-overlay(fixed, 20px, 25vw, 60vw, 60vh, 100, #ffffff);
  border-radius: 4px;
  padding: 16px;

  color: black;
  margin: 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
