.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgb(196, 196, 196);
  margin: 0;
}

.messages {
  position: fixed;
  top: 30vh;
  left: 20vh;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  margin: 0;
}
