@import "mixins";
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100%;
}

.heroes-menu {
  @include set-grid-column-placement(2, 2);
  @include set-grid-row-placement(1, 2);
}

body {
  margin: 0;
}
