.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  .heroes-menu {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .messages {
    grid-column-start: 4;
    grid-column-end: 4;
  }
}
