<div class="container">
  <cdk-accordion class="accordion">
    <div class="title accordion-item accordion-item-header">
      <h1>Heroes</h1>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
      *ngFor="let hero of heroes; let index = index"
      (click)="onSelectHero(hero)"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
    >
      <div
        class="accordion-item-header"
        (click)="accordionItem.toggle()"
        [class.selected]="selectedHero === hero"
      >
        <span>{{ hero.id }}</span>
        {{ hero.name }}
      </div>
      <div
        class="accordion-item-body"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        *ngIf="selectedHero"
      >
        <h2>{{ hero.name | uppercase }}</h2>
        <div><span>id: </span>{{ hero.id }}</div>
        <a routerLink="/detail/{{ hero.id }}">
          <span class="detail-navigation">Go to details</span></a
        >
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
