<div class="grid-col-3x1">
  <div class="accordion spinner">
    <hrs-spinner [condition]="isLoading$ | async"></hrs-spinner>
  </div>

  <mat-accordion class="accordion" *ngIf="!(isLoading$ | async)">
    <div class="title">
      <button matTooltip="Add new hero" mat-icon-button (click)="openDialog()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <mat-expansion-panel hideToggle *ngFor="let hero of heroes$ | async">
      <mat-expansion-panel-header @slideIn (click)="onSelectHero(hero)">
        <mat-panel-title>
          <span>{{ hero.id }}</span>
        </mat-panel-title>
        <mat-panel-description> {{ hero.name }} </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <div class="accordion-item-body">
          <div>
            <h2>{{ hero.name | uppercase }}</h2>

            <div><span>id: </span>{{ hero.id }}</div>
            <a routerLink="/detail/{{ hero.id }}">
              <span class="detail-navigation">Go to details</span></a
            >
          </div>
          <div class="spacer"></div>
          <div>
            <button
              (click)="delete(hero)"
              mat-raised-button
              color="warn"
              class="btn"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
