@import "variables";
@import "mixins";

.title {
  margin-top: 10px;
  color: $white-text-color;
  background-color: $mat-purple;
  @include set-top-radius(4px);
}

.accordion {
  @include set-grid-row-placement(2, 2);
  @include set-grid-column-placement(2, 2);

  @media (max-width: 700px) {
    @include set-grid-column-placement(1, 4);
  }

  &-item-header,
  &-item-body {
    @include d-flex;
    padding: 16px;
  }
  &-item {
    display: block;
    border: solid 1px $greyish;
    &:last-child {
      @include set-bottom-radius(4px);
    }

    &-header {
      @include d-flex(0, space-between);
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.spinner {
  margin: 45%;
}
.spacer {
  flex: 1 1 auto;
}
.selected {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: $selected-grey;
}
a {
  text-decoration: none;
  .detail-navigation {
    margin-top: 4px;
    font-size: 0.85em;
    color: $greyer;
    &:hover {
      cursor: pointer;
      color: $greyish;
    }
  }
}
