@import "variables";
.title {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 10px;
  color: $white-text-color;
  background-color: $mat-purple;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  display: block;
  max-width: 500px;
  margin: 10px;
  &-item-header,
  &-item-body {
    padding: 16px;
  }
  &-item {
    display: block;
    border: solid 1px $greyish;
    &:last-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:first-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &-header {
      display: flex;
      align-content: center;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.spinner {
  margin: 45%;
}
.delete-action {
  flex: 1 1 auto;
}
.selected {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: $selected-grey;
}
a {
  text-decoration: none;
  .detail-navigation {
    margin-top: 4px;
    font-size: 0.85em;
    color: $greyer;
    &:hover {
      cursor: pointer;
      color: $greyish;
    }
  }
}
