.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr, 1fr;

  grid-row-gap: 4px;
  grid-column-gap: 3px;

  .title {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 10px;
    color: whitesmoke;
    background-color: #673ab7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.accordion {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  display: block;
  max-width: 500px;
  margin: 10px;
  &-item-header,
  &-item-body {
    padding: 16px;
  }
  &-item {
    display: block;
    border: solid 1px #ccc;
    &:last-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:first-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &-header {
      display: flex;
      align-content: center;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.delete-action {
  margin-left: 75%;
}
.selected {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
  background-color: rgb(255, 193, 7);
}
a {
  text-decoration: none;
  .detail-navigation {
    margin-top: 4px;
    font-size: 0.85em;
    color: #999;
    &:hover {
      cursor: pointer;
      color: rgb(207, 206, 206);
    }
  }
}
